/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

 body {
    font-family: 'Oswald', sans-serif !important;
    background: url('backgroud.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.white_bg 
{
    background: white;
    width: 240px;
    border-collapse: separate;
    margin: 115px auto;
    height: 340px;
    width: 600px;
    border-radius: 20px;
}

.white_bg2
{
    background: white;
    border-collapse: separate;
    margin: 115px auto;
    height: 600px;
    width: 400px;
    border-radius: 20px;
}
.titulo
{
    font-family: 'Oswald', sans-serif !important;
    text-align: center;
    color: blue;
    font-size: 25px;
}
.texto{
    font-family: 'Oswald', sans-serif !important;
    color: #000;
    text-indent: 40px;
    font-size: 18px;
}

.white_bg3
{
    font-family: 'Oswald', sans-serif !important;
    background: white;
    border-collapse: separate;
    margin: 115px auto;
    height: 600px;
    width: 500px;
    border-radius: 20px;
}

.white_bg4
{
    font-family: 'Oswald', sans-serif !important;
    background: white;
    width: 240px;
    border-collapse: separate;
    margin: 30px 15px;
    height: 100px;
    width: 200px;
    border-radius: 20px;
}