// Place all the styles related to the edition controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    font-family: 'Oswald', sans-serif !important;
    background: url('backgroud.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;

 }

.centralizado {
    text-align: center;
}

