// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

body {
   font-family: 'Oswald', sans-serif !important;
   background: url('backgroud.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;

}