
<% if user_signed_in?%>
   <div class= "big-banner">
   <div class="navbar sticky-top navbar-light bg-light">
   <a class="navbar-brand" href=>GymFit</a>
   <form class="form-inline">
   <a class="btn btn-outline-success" href="/trainings" role="button">
   Treinos
   </a>
   <a class="btn btn-outline-primary" href= "/users/1" role="button">
      Área do Aluno
   </a>
   <li><%=link_to "Sair", destroy_admin_session_path, method: :delete%></li>
   </div>
   </a>
   </div>
   </div>
   </form>

   </ul>
<% else %>
   <div class= "big-banner">
   <div class="navbar sticky-top navbar-light bg-light">
   <a class="navbar-brand" href=>GymFit</a>
   <form class="form-inline">

   <a class="btn btn-outline-primary" href= "/users/sign_in" role="button">
      Entrar
   </a>
   <div style="padding-left: 10px;">
   <a class="btn btn-outline-success" href="/users/sign_up" role="button">
      Cadastrar
   </a>
   <a class="btn btn-outline-warning" href="/trainings" role="button">
      Treinos
   </a>
      </a>
      </div>
   </div>
   </div>
    </form>
    </div>
   </ul>
<%end%>

<% if admin_signed_in?%>
<div class = "white_bg4">
   <ul>
      <p><b> Área do Administrador </p></b>
      <li><%=link_to "Informações Gerais", 'info'%></li>
      <li><%=link_to "Sair", destroy_admin_session_path, method: :delete%></li>

   </ul>
   </div>
<%end%>

<div class="white_bg">
  <div class = "titulo">
    <b>GymFit</b>
    </div>
    <div class = "texto">

      <p>A GymFit® é uma rede de academias presente em mais de 65 países. Com altos padrões de qualidade, 
      é possível atingir seus objetivos em pouco tempo. Na GymFit, você conta com professores altamente qualificados e
      equipamentos diversos e de alta segurança. </p> 
      <p>Neste site, é possível cadastrar-se, ter acesso aos seus treinos, a equipamentos, ao progresso do aluno etc.</p>
      <p>Venha fazer parte dessa familia, cadastre-se em nosso site e aproveite as vantagens de ser aluno da GymFit.</p>
      
    </div>
</div>


