<div class = "white_bg3">
<div class = "centralizado">
<div class = "titulo">
<h1>Informações</h1>
</div>
<table>
  <thead>
    <tr>
      <th>Alunos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
      <dev class = "white_bg">
        <td><%= user.name %></td>
        <td><%= user.weight %></td>
        <td><%= user.height %></td>
        <td><%= user.mass_percentage %></td>
        <td><%= user.fat_percentage %></td>
        <td><%= link_to 'Editar', edit_user_registration_path%></td>
        
      </tr>
      </div>
    <% end %>
  </tbody>
</table>
<div class = "titulo">
<h1>Treinos</h1>
</div>
<table>
  <thead>
    <tr>
      <th>Treinos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trainings.each do |training| %>
      <tr>
        <td><%= training.training_type %></td>
        <td><%= link_to 'Edit', edit_training_path(training) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Novo treino',new_training_path  %>

</br> 

<div class = "titulo">
<h1>Exercícios</h1>
</div>
<table>
  <thead>
    <tr>
      <th>Exercícios</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td><%= exercise.appliance %></td>
        <td><%= exercise.sessions %></td>
        <td><%= exercise.repetition %></td>
        <td><%= link_to 'Show', exercise %></td>
        <td><%= link_to 'Edit', edit_exercise_path(exercise) %></td>
        <td><%= link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo exercício', new_exercise_path %>
</div>
</div>



