<div class = "white_bg">
<div class = "centralizado">
</br></br></br>
<%= form_with(model: training, local: true) do |form| %>
  <% if training.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(training.errors.count, "error") %> prohibited this training from being saved:</h2>

      <ul>
        <% training.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :training_type %>
    <%= form.text_field :training_type %>
  </div>

  <div class="actions">
    <%= form.submit 'Criar treino', class: 'btn btn-success' %>
  </div>
<% end %>
</div>
</div>
