<div class = "white_bg">
<p id="notice"><%= notice %></p>
<div class = "white_bg">
<h1>Trainings</h1>
<div class = "centralizado">
<table>
  <thead>
    <tr>
      <th>Training type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trainings.each do |training| %>
      <tr>
        <td><%= training.training_type %></td>
        <% if admin_signed_in?%>
        <td><%= link_to 'Show', training %></td>
        <td><%= link_to 'Edit', edit_training_path(training) %></td>
        <td><%= link_to 'Destroy', training, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if admin_signed_in?%>
<%= link_to 'New Training', new_training_path %>
<%end%>
</div>
</div>
</div>
