<div class = "white_bg">
</br> 
<p id="notice"><%= notice %></p>

<p>

  <strong>Training type:</strong>
  <%= @training.training_type %>
  </div>
</p>

<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>
</div>
