<%= form_with(model: obstacle, local: true) do |form| %>
  <% if obstacle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(obstacle.errors.count, "error") %> prohibited this obstacle from being saved:</h2>

      <ul>
        <% obstacle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :obstacle %>
    <%= form.text_field :obstacle %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
