
<%params[:param1]%>
<div class = "white_bg">
<div class = "titulo">
</br>
<h1><%= @user.name %></h1>
</div>
<div class = "centralizado">
<h5>Suas Informações</h5>
<p>Peso: <%= @user.weight%></p>
<p>ALtura:<%= @user.height%></p>
<p>Massa Magra:<%= @user.mass_percentage%></p>
<p>Gordura Corporal: <%= @user.fat_percentage%></p>
</div>
</div>