<div class = "white_bg">
<div class = "centralizado">
</br></br></br>
<%= form_with(model: exercise, local: true) do |form| %>
  <% if exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
        <% exercise.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :appliance %>
    <%= form.text_field :appliance %>
  </div>

  <div class="field">
    <%= form.label :sessions %>
    <%= form.number_field :sessions %>
  </div>

  <div class="field">
    <%= form.label :repetition %>
    <%= form.number_field :repetition %>
  </div>

  <div class="actions">
    <%= form.submit 'Criar exercício', class: 'btn btn-success' %>
  </div>
<% end %>
</div>
</div>
