<div class = "white_bg">
<p id="notice"><%= notice %></p>
<div class = "titulo">
<h1>Exercises</h1>
</div>

<table>
  <thead>
    <tr>
      <th>Appliance</th>
      <th>Sessions</th>
      <th>Repetition</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td><%= exercise.appliance %></td>
        <td><%= exercise.sessions %></td>
        <td><%= exercise.repetition %></td>
        <td><%= link_to 'Show', exercise %></td>
        <td><%= link_to 'Edit', edit_exercise_path(exercise) %></td>
        <td><%= link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exercise', new_exercise_path %>
</div>
