<div class = "white_bg">
<p id="notice"><%= notice %></p>

<p>
  <strong>Appliance:</strong>
  <%= @exercise.appliance %>
</p>

<p>
  <strong>Sessions:</strong>
  <%= @exercise.sessions %>
</p>

<p>
  <strong>Repetition:</strong>
  <%= @exercise.repetition %>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
</div>
